<%= simple_form_for @article, 
 wrapper: :inline_form,
 html: {class: 'form-horizontal'},
   wrapper: :horizontal_form,
  wrapper_mappings: {
    title: :horizontal_file_input,
    boolean: :horizontal_boolean
 } do |f| %>
  <%= f.error_notications %>
 
  <div class="form-group">
      <%= f.input :title  %>
  </div>
   
  <div class="form-group">
      <%= f.input :text %>
      <%= f.input :text, class: 'form-control' %>
    </div>
  </div>
   
   <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
  </div>
  </div>
 
<% end %>