<!DOCTYPE html>
<html>
<head>
  <title>Tc359FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-2">
          <ul>
            
  <nav class="navbar navbar-default" role="navigation">
  <ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', articles_path %></li>
  <li><%= link_to 'New Article', new_article_path %></li>
</ul>
</nav>

          </ul>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
